.entry {
    width: 370px;
    padding: 30px;
    border: 0 solid #F2C94C;

    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
}

.entry__title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
    color: #333333;
}

.entry > button {
    margin-top: 30px;
}