.tree-element {
    position: relative;
    width: 100%;
    padding-left: 25px;
    box-sizing: initial;
}

.tree-element__dir,
.tree-element__file {
    display: flex;
    padding-bottom: 4px;
    width: 100%;
}

.tree-element__icon {
    font-size: 28px;
    margin-right: 6px;
}

.tree-element__icon_folder {
    margin-right: 12px;
    font-size: 23px;
    color: #EC9360;
}

.tree-element__icon_file {
    margin: 7px 12px 0 0;
    font-size: 21px;
    color: #EC9360;
}

.tree-element__highlighter_true {
    position: relative;
    left: 0;
    width: calc(100% + 50px);
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.tree-element__highlighter {
    height: 36px;
}

.tree-element__file_true {
    position: absolute;
    //width: calc(100% + 50px);
    //background: rgba(0, 0, 0, 0.1);
}
