.tree-element {
    width: calc(100% - 25px);
    float: right;
}

.tree-element__dir,
.tree-element__file {
    display: block;
    margin-left: 25px;
    margin-bottom: 2px;
}

.tree-element__icon {
    font-size: 28px;
    margin-right: 6px;
}

.tree-element__icon_folder {
    margin-right: 12px;
    font-size: 23px;
    color: #EC9360;
}

.tree-element__icon_file {
    margin: 7px 12px 0 0;
    font-size: 21px;
    color: #EC9360;
}
