.sidebar {
  width: 23%;
  height: 100%;
  display: flex;

  background: #818181;
  box-shadow: 0 4px 50px 9px rgba(0, 0, 0, 0.25);
}

.sidebar_light {
  background: #F6F6F6;
}


/*------------- Button --------------*/
.button__start {
  color: #fff;
  font-size: 25px;
}

