@import "mixins";

.sidebar {
  height: 100%;
  display: flex;
}

.sidebar__dividing-line {
  width: 100%;
  height: 3px;
  margin-bottom: 20px;

  background: rgba(255, 255, 255, 0.37);
  border-radius: 26px;
}

.sidebar__title {
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}

.sidebar__wrapper {
  position: relative;
  font-size: 23px;
  right: 25px;
}

