.workspace {
  width: 73%;
  margin: 16px 18px 16px 0;
  padding: 20px 0 0 20px;

  background: #424242;
  box-shadow: 0 4px 50px 9px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.workspace_light {
  background: #F0F0F0;
  box-shadow: 0 4px 50px 9px rgba(0, 0, 0, 0.13);
}