.phoneInput {
    padding: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}

.phoneInput:hover {
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.1);
}

.phoneInput:focus {
    transition: transform 0.1s ease-out;
    transform: scale(1.02, 1.02);
    outline: 0;
    border: 2px solid #F2C94C;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.1);
}