.test-btn {
  height: 60px;
  min-width: 200px;
  padding: 0 10px;

  color: #424242;
  background: #EC9360;
  border-radius: 100px;

  transition: 0.2s color;

  &:hover {
    color: white;
  }

  &:active {
    transform: translateY(2px);
  }
}