.card {
    width: 400px;
    padding-bottom: 5px;

    background: #282C34;
    color: #CDCDCD;
    border-radius: 10px;

    text-align: center;
    overflow: hidden;
    border-style: solid;
}

.card__img {
    width: 100%;
}

.card > p {
    padding: 2px 2px;
}

.card__button {
    margin: 10px 0;
}
