.buttonWaves {
    width: 13vw;
    height: 3.6vw;
    z-index: 0;
    position: relative;
    padding: 20px;
    text-align: center;
    font-size: 27px;

    color: #333333;
    background: #F2C94C;
    outline: none;
    border: none;
    -webkit-transition: color 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
.Small {
    width: 9vw;
    height: 2.7vw;
    font-size: 20px;
    padding: 10px;
}
.Medium {
    width: 11vw;
    height: 3.2vw;
    font-size: 23px;
    padding: 15px;
}
.buttonWaves:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border: 6px solid #fff;
}

.buttonWaves:hover {
    color: #fff !important;
    background: #EC9360 !important;
}
.buttonWaves:hover:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.buttonWaves__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.buttonWaves__wave {
    position: absolute;
    top: 6px;
    width: 25%;
    height: 100%;
    background: #56CCF2;
    border-radius: 100%;
    -webkit-transform: translate3d(100%, 150%, 0) scale(1.7);
    transform: translate3d(100%, 150%, 0) scale(1.7);
    -webkit-transition: -webkit-transform 0.45s;
    transition: -webkit-transform 0.45s;
    transition: transform 0.45s;
    transition: transform 0.45s, -webkit-transform 0.45s;
}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
    .buttonWaves__wave, .buttonWaves__wave_right {
        -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
        transform: translate3d(0, 150%, 0) scale(1.4);
    }
}
.buttonWaves__wave:nth-child(1) {
    left: 0%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.buttonWaves__wave:nth-child(2) {
    left: 30%;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}
.buttonWaves__wave:nth-child(3) {
    left: 60%;
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}
.buttonWaves__wave:nth-child(4) {
    left: 90%;
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
}
.buttonWaves:hover .buttonWaves__wave {
    -webkit-transform: translateZ(0) scale(1.7);
    transform: translateZ(0) scale(1.7);
}
.buttonWaves:hover .buttonWaves__wave_right {
    -webkit-transform: translateZ(0) scale(1.7);
    transform: translateZ(0) scale(1.7);
}

