.email__group {
    position: relative;
    margin-bottom: 30px;
    width: 250px;
}

.email__input {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0 0 5px 0;
    border: 0;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.2s ease-in-out;
}

.email__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    z-index: 0;
    color: #9e9e9e;
    transition: 0.2s ease-in-out;
}

.email__input:focus {
    border-bottom: 1px solid #1a73a8;
}

.email__input:focus ~ .email__label,
.email__input:not(:placeholder-shown) ~ .email__label {
    top: -55%;
    font-size: 16px;
    color: #909090;
}