.tree-element {
    position: relative;
    width: 100%;
    padding-left: 25px;
    box-sizing: initial;
}

.tree-element__dir,
.tree-element__file {
    display: flex;
    align-items: center;
    padding: 2px 0;
    width: 100%;
    height: 31px;
    z-index: 10;

    &:hover .tree-element__highlighter_disabled {
        display: initial;
    }
}

.tree-element__icon {
    font-size: 28px;
    margin: 0 6px 3px 0;
    z-index: 10;
}

.tree-element__icon_folder {
    margin-right: 12px;
    font-size: 23px;
    color: #EC9360;
}

.tree-element__icon_file {
    margin: 0 12px 2px 0;
    font-size: 21px;
    color: #EC9360;
}

.tree-element__highlighter  {
    position: absolute;
    right: -50px;
    width: calc(100% + 10000px);
    height: 31px;

    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.tree-element__highlighter_active {
    display: initial;
    background: rgba(236, 147, 96, 0.75);
    z-index: 0;

    & ~ .tree-element__wrapper,
    & ~ .tree-element__icon_file {
        color: #686868;
        z-index: 2;
    }
}

.tree-element__highlighter_disabled {
    display: none;
}