.instruction {
  display: flex;
  margin-bottom: 12px;


}

.instruction__text {
  width: 100%;
  margin-right: 10px;
}

.instruction__button {
  width: 120px;

  border-radius: 5px;
  background: #EC9360;
  color: #F0F0F0;
  transition: background 4s;
}


.instruction__button:active {
  background: #FAA472;
  transition: background 0s;
}

.highlight {
  display: flex;
  align-items: center;
  height: 46px;

  font-size: 18px;
  border-radius: 5px;
}
