.reset-btn {
  position: sticky;
  top: 0;
  transform: translateX(12px);

  height: max-content;
  background: #c0392b;
  color: white;
  font-size: 14px;

  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);

  display: flex;
  align-items: center;

  & span {
    position: relative;

    padding: 10px;
    transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);

    &:after {
      content: '';
      position: absolute;

      width: 2px;
      height: 70%;
      background-color: #a53125;

      right: -1px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &:hover {
    opacity: 0.9;
  }

  &:hover span {
    transform: translateX(-40%);
    opacity: 0;
  }

  &:hover .reset-btn__wrapper {
    transform: translateX(-31px);
  }
}

.reset-btn_active {
  background: #27ae60;

  & .reset-btn__check-icon {
    display: initial;
  }

  & .reset-btn__trash-icon {
    display: none;
  }

  & span {
    transform: translateX(-72%);
    opacity: 0;
  }

  & .reset-btn__wrapper {
    transform: translateX(-31px);
  }
}

.reset-btn__wrapper {
  width: 14px;
  margin: 10px;
  transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
}

.reset-btn__check-icon {
  display: none;
}