.button {
  height: 2.5vw;
  width: 10vw;

  color: #80D73D;
  background: #1CEDE1;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.16s ease-in;
}

.button:hover {
  background: #8335D2 !important;
  color: #CC3608 !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.button__small {
  height: 2vw;
  width: 8vw;

  font-size: 15px;
  border-radius: 12px;
}

.button__large {
  height: 3vw;
  width: 12vw;

  font-size: 25px;
  border-radius: 17px;
}